* {
    padding: 0;
    margin: 0;
}


.wrapper {
    background: url(https://raw.githubusercontent.com/emirbagdatli/dijitalkuaforum-html-css/main/images/homebg.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(6, 6, 6, 0.184);
}

.logo {

    width: 130px;
    height: auto;
    padding: 0px 80px;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    padding: 6px 13px;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: rgba(0, 0, 0, 1);
    border-radius: 2px;
}

.wrapper .center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.center h1 {
    color: white;
    text-shadow: 210mm;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    margin-left: 60px;
    text-shadow: 1px 2px black;

    text-align: center;
}

.center h3 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    margin-left: 60px;
    text-align: center;
    text-shadow: 1px 2px black;

}

.center .buttons {
    margin: 35px 280px;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border-radius: 30px;
    border: 1px solid #0000;
    outline: none;
    cursor: pointer;
    transition: .5s;

}

.buttons .btn2 {
    margin-left: 80px;

}

.buttons button:hover {
    background: black;
    color: whitesmoke;
}